.navbar {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;

  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.navbar-logo {
  object-fit: contain;
  width: 80px;
  position: fixed;
  left: 20px;
}
.navbar-avatar {
  object-fit: contain;
  width: 30px;
  position: fixed;
  right: 20px;
}

.nav-black {
  background-color: rgb(18, 18, 18);
}
