* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.app {
  background-color: #141414;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.app .original {
  position: absolute;
  top: 690px;
}

.numbers {
  margin-bottom: -390px;
  margin-left: 130px;
  display: flex;
}
.numbers img {
  padding-right: 250px;
  height: 200px;
}
