* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.app {
  background-color: #141414;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  color: white;
}

.app .original {
  position: absolute;
  top: 690px;
}

.numbers {
  margin-bottom: -390px;
  margin-left: 130px;
  display: flex;
}
.numbers img {
  padding-right: 250px;
  height: 200px;
}

@media screen and (max-width: 768px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (max-width: 992px) {
}

@media (min-width: 1000px) {
  .movie-flex {
    padding-left: 4.5% !important;
    padding-bottom: 4.5% !important;
  }
}
@media (min-width: 1101px) {
  .movie-flex {
    padding-left: 4.5% !important;
  }
}
@media (min-width: 1201px) {
  .movie-flex {
    padding-left: 4.5% !important;
  }
}

@media (min-width: 1301px) {
  .movie-flex {
    padding-left: 4.5% !important;
  }
}

@media (min-width: 1441px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 1541px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 1641px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 1741px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 1841px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 1941px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
@media (min-width: 2041px) {
  .movie-flex {
    padding-left: 3% !important;
  }
}
