.movies-flex-parent {
  margin-bottom: -5%;
  margin-left: 2%;
  margin-right: 2%;
  width: 100%;
}

.movie-flex {
  display: flex;
  gap: 1%;
  padding: 2%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.movie-flex::-webkit-scrollbar {
  visibility: hidden;
}
.movie-parent {
  display: grid;
  width: 300px !important;
  border-radius: 7px;
}
.movie-parent:hover {
  scale: 1.3;
}
.movie-parent:hover .movie-infos {
  visibility: visible;
  opacity: 1;
}
.movie-top {
  width: 300px !important;
}

.poster {
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.movie-infos {
  display: grid;
  background-color: #393939;
  margin-top: -5px;
  height: 120px;
  padding: 5px;
  visibility: hidden;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  opacity: 0;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.75);
}
.movie-infos-top {
  display: flex;
  justify-content: space-between;
}
.rate {
  display: flex;
  align-items: center;
  margin-top: 0px;
  line-height: 16px;
  height: 16px;
  font-size: 10px;
}
.rate-star {
  fill: yellow;
  font-size: 12px !important;
}

.match-new-date {
  color: #46d369;
  font-size: 11px;
}
.match-new-date h5 {
  color: rgb(0, 106, 255);
}

.title-info-and-dates {
  display: flex;
}
.title-and-info {
  display: grid;
}
.movie-title {
  width: 230px;
}
.dates {
  align-items: center;
  justify-content: center;
  text-align: center;
}
.title-info-and-dates p {
  font-size: 10px;
  margin-bottom: 10px;
}

.all-hover .movie-infos {
}
.all-hover:hover .movie-infos {
  visibility: visible;
}

.all-hover:hover {
  transform: scale(1.5);
  transition: 350ms;
}
.row-poster-large {
  overflow-x: none;
}

.netflix-originals {
  margin-top: -10%;
}

.genre {
  font-size: 10px;

  display: flex;
  gap: 5px;
}

.top-flex {
  position: relative;
}
